<?xml version="1.0"?>
<model>
    <name>My 1st model</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Your name</name>
        <email>yout@email.com</email>
    </author>

    <description>
     my first model for gazebo!
    </description>

</model>